
<div ng-show="IsLoad" style="text-align: center">
    <i class="fa fa-spinner fa-spin fa-3x"></i>讀取中...
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>客戶名稱</td>
            <td>聯絡人</td>
            <td>地址</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Cust in Customers">
            <td>{{Cust.CustomerID}}</td>
            <td>{{Cust.AttribName}}</td>
            <td>{{Cust.JoinMan}}</td>
            <td>{{Cust.CompanyAddress}}</td>
            <td>
                <button class="btn btn-primary" ng-click="Update(Cust.CustomerID)"><i class="fa fa-edit"></i>修改</button>
                <button class="btn btn-danger" ng-click="Delete(Cust)"><i class="glyphicon glyphicon-remove"></i>刪除</button>
            </td>
        </tr>
    </tbody>
</table>

<uib-pagination total-items="totalRecords" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>

<div style="color: red">
    <span class="label label-danger">{{error}}</span>
</div>

